/* common shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 700;
  padding: 12px 32px;
}

section {
  padding: 2.5rem 8rem;
}

section > article {
  padding: 2rem;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  font-family: "Lato", sans-serif;
  color: #757575;
  line-height: 1.8;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
  padding: 1.5rem 1.5rem 0;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* banner related styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 8rem 0;
}

.banner-content {
  max-width: 500px;
}

.banner-description {
  line-height: 1.8;
  letter-spacing: 2px;
  margin-bottom: 1.2rem;
  font-family: "Lato", sans-serif;
}

.banner-greeting,
.banner-title {
  line-height: 1.4;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
}

.banner .profile-pic {
  width: 400px;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

.logo {
  color: #181818;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* about section */
.about {
  border-radius: 10px;
  background-color: #fff8f3;
  margin: 130px 8rem;
}

.about-info-container,
.skills-container {
  display: flex;
  justify-content: space-around;
}

.about-info-container {
  padding: 2rem;
}

.about-info {
  text-align: center;
}

.info-title {
  margin-bottom: 1rem;
  font-weight: normal;
  color: #474747;
}

.info-description {
  font-weight: bold;
  color: #181818;
}

/* what i do section */
#work-description {
  margin-left: 8rem;
  margin-right: 8rem;
}
