/* common shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 700;
  padding: 12px 32px;
}

/* header related styles */
.header {
  background-color: #fff8f3;
}

.banner {
  display: flex;
  align-items: center;
  padding: 2.5rem 8rem;
}

.banner-content p {
  line-height: 1.8;
  letter-spacing: 2px;
  margin-bottom: 1.2rem;
}

.banner-greeting,
.banner-title {
  line-height: 2;
}

.banner .profile-pic {
  width: 400px;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

.nav-title {
  color: #181818;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}
